<div class="sub-header" *ngIf="state">
  <div class="itemsperpage-div">
    Items Per Column
    <mat-form-field class="itemsperpage-select">
      <mat-select [(value)]="state.filters.itemspercolumn" (selectionChange)="saveState()">
        <mat-option value="10">10</mat-option>
        <mat-option value="20">20</mat-option>
        <mat-option value="30">30</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="sort-div">
    Sort By Time
    <mat-form-field>
      <mat-select [(value)]="state.filters.sortBy" (selectionChange)="sortChangeEvent($event.value)">
        <mat-option value="desc">Most recent</mat-option>
        <mat-option value="asc">Oldest First</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="main-content">
<mat-progress-bar mode="indeterminate" *ngIf="isLoadingFinished()"></mat-progress-bar>
  <div class="tweet-column col-{{screen}}" *ngFor="let screen of state.screen_names">
    <mat-card class="tweet-card" *ngFor="let tweet of state.tweets[screen]|slice:0:state.filters.itemspercolumn">
      <mat-card-header>
        <div mat-card-avatar class="tweet-card-header-image" [ngStyle]="{ 'background-image': 'url(' + tweet.user.profile_image_url_https + ')'}"></div>
        <mat-card-title>{{tweet.user.name}}</mat-card-title>
        <mat-card-subtitle>@{{tweet.user.screen_name}}</mat-card-subtitle>
        <span class="tweet-date">{{tweet.created_at |date:"MMM d, y, h:mm a"}}</span>
      </mat-card-header>
      <mat-card-content>
        <p [innerHTML]="tweet.text">
        </p>
        <a href="https://twitter.com/i/web/status/{{tweet.id_str}}" target="_blank" rel="noopener noreferrer">tweet
          link</a>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button class="tweet-link" (click)="goToTweet(tweet.id_str)">See on Twitter</button> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>
